<div class="navigation" [ngClass]="{'active': isNavigationActive}">
  <div class="user-box">
    <div class="image-box">

      <img src="" alt="avatar">
    </div>
    <p class="username">Andrea Piacquadio</p>
  </div>
  <div class="menu-toggle" (click)="toggleNavigation()"></div>
  <ul class="menu">
    <li><a href="javascript:;"><i class="fa-solid fa-user"></i>Profile</a></li>
    <li><a href="javascript:;"><i class="fa-solid fa-gear"></i>Settings</a></li>
    <li><a href="javascript:;" (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
  </ul>
</div>
