<div class="grid grid-cols-12 grid-rows-[110px_minmax(900px,_1fr)_100px] h-full w-full overflow-y-hidden bg-supplier-scan-bg bg-no-repeat overflow-x-hidden">
  <app-header class="w-full col-span-12"></app-header>
  <div class="col-span-3 z-10 flex items-center">
  </div>
  <div class="col-span-6 z-10 text-center details">
    <h1 class="mb-8">Manufacturer Menu</h1>
    <div class="w-full h-full flex justify-center">
      <nb-card class="rounded-[10px] h-min w-5/6  shadow-login text-center grid-rows-9 px-5 py-10">
        <nb-card-body>
          <div class="container">
            <div class="tile wide quote">
              <div class="header flex items-center p-5">
                <div class="title">Manage meds effortlessly. Add, view, and set permissions. Create secure certificates for your products.</div>
              </div>
              <div class="body flex items-center justify-center" (click)="navigateToViewProducts()">
                <div class="title">Products</div>
              </div>
            </div>
            <div class="tile wide invoice">
              <div class="header flex items-center p-5">
                <div class="title">Track meds with ease. Validate certificates, take actions, and view QR codes swiftly.</div>
              </div>
              <div class="body flex items-center justify-center" (click)="navigateToReadProducts()">
                <div class="title">Scan</div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-span-3 flex items-center">
  </div>
  <div class="z-0 w-full h-[70px] col-span-12 bg-white flex justify-between items-center px-[42px] border-2 border-b-[#F3F3F3] fixed bottom-0">
  </div>
</div>
